$header_logo: #eae7e7;
// Header
$cos_1: #d0d2de;
$cos_2: #a4b5b9;
$cos_2: #2c2f44;
$cos_4: #455947;
$cos_5: #383330;
$header_color: #e6dcd3;
$header_font_color: #b48954;
$header_buttons_color: #d4bda1;
$modal_background: $header_color;
$modal_color: #2d2d23;

// Hamburger Menu
$hamurger__menu_background: $header_color;
$hamburger__menu_colors: $modal_color;
$hamburger__menu_logo: #3f352c;
// Buttons
$button_background: #bda18c;
$button_color: #ffffff;

// Card
$card_background: #ffffff;
$card_title: #b4a79e;
$card_line: #e6dcd3;
