@use "../../../Abstracts/" as *;
.header_button {
  padding: 0.325rem 0.9rem 0.325rem 0.9rem;
  font-size: $clamp_header_buttons;
  font-weight: 500;
  background-color: $button_background;
  color: $button_color;
  border: 0.2px solid $header_font_color;
  border-radius: 4.5px;
}
.buttons {
  display: flex;
  gap: min(0.7rem);
  a {
    text-decoration: none;
    color: white;
  }
}
