@use "../../../Abstracts/" as *;
button {
  padding: 0.325rem 0.9rem 0.325rem 0.9rem;
  font-size: $clamp_header_buttons;
  background-color: $header_buttons_color;
  color: $cos_5;
  border: 0.2px solid $header_font_color;
  border-radius: 4.5px;
}
.buttons {
  display: flex;
  gap: min(0.7rem);
}
