@use "../../Abstracts/" as *;
.hamburger__menu {
  position: sticky;
  top: 0;
  width: 35vw;
  height: 100vh;
  background-color: $hamurger__menu_background;
}
.hamburger__menu_content {
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: $hamburger_menu_item;
  font-family: $font1;
  text-transform: capitalize;
  text-align: center;
  color: $hamburger__menu_colors;
}
