@use "../../Abstracts/" as *;
.landing__container {
  display: grid;
  grid-template-columns: minmax(0, 5rem) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      5rem
    );
  place-items: center;
  @include borderTest(lime);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  .leftside__container {
    grid-template-columns: subgrid;
    text-align: center;
    grid-column: 2/4;
    @include borderTest(red);
  }
  .leftside__content {
    h2 {
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: 300;
      font-style: italic;
    }
    .leftside__content_text {
      @include borderTest(navy);
      h1 {
        font-weight: bolder;
        color: black;
      }
    }
    .leftside__content_text--desc {
      padding: 1.5rem 0.5rem 1.5rem 0.5rem;
      @include borderTest(orange);
    }
    .leftside__content_button {
      border-radius: 50%;
      background-color: aqua;
    }
    .socialmedias__container {
      grid-column: 5/6;
      @include borderTest(purple);
    }
  }
  .rightside__container {
    grid-column: 1/5;
    grid-row: 1;
    @include borderTest(red);
    margin: 0 auto;
    width: 70%;
    picture {
      width: 50% img {
        max-width: 100%;
      }
    }
  }
}
