@use "../../Abstracts/" as *;
.landing__container {
  @include borderTest(orange);
  display: grid;
  grid-template-columns: minmax(0, 5rem) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      5rem
    );
  grid-template-rows: minmax(0, 60vh) minmax(0, 1fr);
  .leftside__container {
    @include borderTest(red);
    .leftside__content {
      .leftside__content_text {
        @include borderTest(navy);
        h3 {
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-family: $font1;
        }
        h1 {
          font-size: $clamp_landing_heading_h1;
          text-transform: uppercase;
          font-family: $font2;
        }
        h2 {
          color: black;
          font-size: $clamp_landing_heading_h2;
          font-weight: 300;
          letter-spacing: 6px;
          text-transform: uppercase;
          font-family: $font4;
        }
      }
      .leftside__content_text--desc {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        @include borderTest(orange);
        font-family: $font4;
      }
      .leftside__content_button {
        button {
          border-radius: 30px;
          background-color: $button_background;
          text-transform: uppercase;
          font-weight: 400;
          padding: 0.5rem 1.2rem 0.5rem 1.2rem;
          text-decoration: none;
          border: 0;
          font-family: $font4;
        }
      }
    }
  }
  .rightside__container {
    @include borderTest(green);
    picture {
      @include borderTest(red);
      width: 50%;
      height: auto;
      img {
        @include borderTest(blue);
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: 40%;
        display: block;
        margin: 0 auto; /* Center the image within its container */
        object-fit: cover; /* Maintain aspect ratio while covering the container */
      }
    }
  }
  .socialmedias__container > * {
    color: $cos_3;
  }
}
.newcollection__container {
  .newcollection__card_item {
    .newcollection__card_desc {
      font-family: $font3;
      h1 {
        font-size: $clamp_landing_heading_h3;
      }

      span {
        font-size: $card_price_clamp;
      }
    }
  }
}
// Media queries
@media (width > 320px) and (width< $screen-md-min) {
  .landing__container {
    // place-items: center;
    @include borderTest(lime);
    .leftside__container {
      text-align: center;
      grid-column: span 2/-2;
    }

    .socialmedias__container {
      grid-column: 5/6;
      @include borderTest(purple);
    }
  }
  .rightside__container {
    grid-column: 1/5;
    grid-row: 1;
    @include borderTest(red);
    margin: 0 auto;
    max-width: 70%;
    picture {
      img {
        // width: 50%;
      }
    }
  }
}
@media (width >= $screen-md-min) {
  .landing__container {
    // place-items: center;
    align-items: center;

    .leftside__container {
      grid-column: 2/2;
      .leftside__content {
        .leftside__content_text--desc {
          width: 50ch;
        }
      }
    }
    .rightside__container {
      grid-column: 3/3;
      grid-row: 1;
    }
    .socialmedias__container {
      grid-column: 2/3;
      grid-row: 2;
      @include borderTest(green);
      display: flex;
      gap: min(3rem);
    }
  }
  .newcollection__container {
    // @include borderTest(lime);

    display: grid;
    margin: 0 auto;
    grid-template-columns: minmax(0, 7rem) minmax(0, 1fr) minmax(0, 1fr) minmax(
        0,
        7rem
      );
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

    .newcollection__card_item--1 {
      // @include borderTest(red);
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      grid-column: 2/3;
      grid-row: 1/3;
      align-items: center;

      .newcollection__card_desc {
        // display: grid;
        // grid-template-columns: subgrid;
        @include borderTest(pink);
        grid-column: 2;
        align-self: center;
      }
      picture {
        @include borderTest(yellow);
        width: 40%;
        height: 100%;
        place-self: center;
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
    }
    .newcollection__card_item--2 {
      grid-column: 3/4;
      grid-row: 1/3;
    }
  }
}
