@use "../../Abstracts/" as *;
header {
  width: 100%;
  height: min(15vh);
  background-color: $header_color;
  display: flex;
  justify-content: space-around;
  place-items: center;
  font-family: $font1;
  color: $header_font_color;
}
