@use "../../Abstracts" as *;
header {
  width: 100%;
  height: 10vh;
  background-color: $header_logo;
  display: flex;
  justify-content: space-around;
  place-items: center;
  @include borderTest(red);
}
